[submodule "putemg_features"]
	path = putemg_features
	url = https://github.com/biolab-put/putemg_features.git
[submodule "biolab_utilities"]
	path = biolab_utilities
	url = https://github.com/biolab-put/biolab_utilities.git
[submodule "pyeeg"]
	path = pyeeg
	url = https://github.com/forrestbao/pyeeg.git
